.app {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
.CodeMirror {
  height: 600px !important;
}

.CodeMirror-scroll {
  height: 600px !important;
  overflow-y: hidden;
  overflow-x: auto;
}